@import "../colors/kanagawa.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: @fujiWhite;
  background-color: @sumiInk0;
  border-bottom: 2px solid @sumiInk1;
  font-family: League Mono Narrow;
  font-size: 12.5px;
  opacity: 0.95;
}

/* Each module */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-PBPbattery {
  padding: 0.5rem 0.6rem;
  margin: 0px 0.25rem;
}

#clock {
  color: @oldWhite;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  color: @oldWhite;
}

#battery.warning {
  color: @autumnYellow;
}

#battery.critical {
  color: @autumnRed;
}

#cpu {
  color: @oldWhite;
}

#cpu.warning {
  color: @autumnYellow;
}

#cpu.critical {
  color: @autumnRed;
}

#memory {
  color: @oldWhite;
}

#memory.warning {
  color: @autumnYellow;
}

#memory.critical {
  color: @autumnRed;
}

#mode {
  background: @oldWhite;
  /* border-bottom: 3pr transparent; */
  color: @winterBlue;
  margin-left: 5px;
}

#network,
#tray {
  color: @oldWhite;
}

#network.disconnected {
  color: @autumnYellow;
}

#pulseaudio {
  color: @oldWhite;
  padding-top: 6px;
}

#pulseaudio.muted {
  color: @fujiGray;
}

#temperature.critical {
  color: @autumnRed;
}

#workspaces {
  color: @oldWhite;
}

#workspaces button {
  color: @oldWhite;
  /* border-bottom: 3px solid transparent; */
  padding: 0 0.15rem;
}

#workspaces button.focused {
  background: @sumiInk2;
  color: @oldWhite;
}

#workspaces button.urgent {
  border-color: @autumnYellow;
  color: @waveAqua1;
}

#custom-power {
  color: @oldWhite;
  margin-left: 0.5rem;
  padding: 0 1rem;
  font-size: 15px;
}

#custom-launcher {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 10px;
}

#backlight.icon {
  padding-right: 1px;
  font-size: 13px;
}
