@import "../colors/kanagawa.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: @oldWhite;
  background-color: @sumiInk3;
  font-family: Input Mono Condensed Light;
  font-size: 11.5px;
  opacity: 0.95;
}

/* Each module */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-PBPbattery {
  padding: 0.5rem 0.6rem;
  margin: 0px 0.25rem;
}

#clock {
  color: @dragonBlue;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
  color: @dragonBlue;
}

#battery.warning {
  color: @autumnYellow;
}

#battery.critical {
  color: @autumnRed;
}

#cpu {
  color: @dragonBlue;
}

#cpu.warning {
  color: @autumnYellow;
}

#cpu.critical {
  color: @autumnRed;
}

#memory {
  color: @dragonBlue;
}

#memory.warning {
  color: @autumnYellow;
}

#memory.critical {
  color: @autumnRed;
}

#mode {
  background: @crystalBlue;
  border-bottom: 3px transparent;
  color: @oldWhite;
  margin-left: 5px;
}

#network,
#tray {
  color: @dragonBlue;
}

#network.disconnected {
  color: @autumnYellow;
}

#pulseaudio {
  color: @dragonBlue;
  padding-top: 6px;
}
#pulseaudio.muted {
  color: @fujiGray;
}

#temperature.critical {
  color: @autumnRed;
}

#workspaces {
  color: @dragonBlue;
}

#workspaces button {
  color: @dragonBlue;
  border-bottom: 3px solid transparent;
  padding: 0 0.15rem;
}

#workspaces button.focused {
  color: @waveBlue2;
  background: @waveAqua1;
  color: @waveBlue1;
}

#workspaces button.urgent {
  border-color: @autumnYellow;
  color: @waveAqua1;
}

#custom-power {
  color: @dragonBlue;
  margin-left: 0.5rem;
  padding: 0 1rem;
  font-size: 15px;
}
#custom-launcher {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 10px;
}

#backlight.icon {
  padding-right: 1px;
  font-size: 13px;
}
