@import "../colors/catppuccin.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: @text;
  background-color: @surface0;
  border-bottom: 2px solid @overlayO;
  font-family: League Mono Narrow;
  font-size: 13px;
  opacity: 0.85;
}

/* Each module */
#battery,
clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-PBPbattery {
  padding: 0.5rem 0.6rem;
  margin: 0px 0.25rem;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery.warning {
  color: @overlay0;
}

#battery.critical {
  color: @flamingo;
}

#cpu.warning {
  color: @overlay0;
}

#cpu.critical {
  color: @flamingo;
}

#memory.warning {
  color: @overlay0;
}

#memory.critical {
  color: @flamingo;
}

#mode {
  /* border-bottom: 3pr transparent; */
  color: @sapphire;
  margin-left: 5px;
}

#network.disconnected {
  color: @overlay0;
}

#pulseaudio {
  padding-top: 6px;
}

#temperature.critical {
  color: @flamingo;
}

#workspaces {
  border-bottom: 2px solid @overlayO;
}

#workspaces button {
  /* border-bottom: 3px solid transparent; */
  padding: 0 0.15rem;
}

#workspaces button.focused {
  background: @crust;
  color: @teal;
}

#workspaces button.urgent {
  border-color: @overlay0;
  color: @flamingo;
}

#custom-power {
  margin-left: 0.5rem;
  padding: 0 1rem;
  font-size: 15px;
}

#custom-launcher {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 10px;
}

#backlight.icon {
  padding-right: 1px;
  font-size: 13px;
}
