@import "/home/aapclark/.config/colors/kanagawa.css";

* {
  font-family: SF Mono Powerline Light;
  font-size: 12px;
}

window {
  border: 10px double @katanaGray;
  background: @sumiInk1;
}

#input {
  margin-bottom: 15px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid @katanaGray;
  background: @sumiInk2;
  color: @oldWhite;
}

#outer-box {
  margin: 5px;
  padding: 15px;
  background-color: @sumiInk1;
}

#entry {
  color: @oldWhite;
  background-color: none;
  border: none;
  highlight: none;
}

#entry:selected {
  color: @oldWhite;
  margin: auto;
  width: 100%;
  border: none;
  background: @sumiInk3;
  highlight: none;
}

#img:selected {
  background: @sumiInk3;
  color: @waveAqua1;
}

#text {
  padding: 5px;
  color: @oldWhite;
}

#text:selected {
  color: @oldWhite;
  background-color: @sumiInk3;
}
