/*
Nord Theme
*/

@define-color p1 #2E3440 ;
@define-color p2 #3B4252 ;
@define-color p3 #434C5E ;
@define-color p4 #4C566A ;
@define-color s1 #D8DEE9 ;
@define-color s2 #E5E9F0 ;
@define-color s3 #ECEFF4 ;
@define-color n1 #8FBCBB ;
@define-color n2 #88C0D0 ;
@define-color n3 #81A1C1 ;
@define-color n4 #5E81AC ;
@define-color a1 #BF616A ;
@define-color a2 #D08770 ;
@define-color a3 #EBCB8B ;
@define-color a4 #A3BE8C ;
@define-color a5 #B48EAD ;

*{
    font-family: SF Mono;
    font-size: 12;
}

#window {
	  border: 2px solid @p4;
    margin: 0px 5px 0px 5px;

}

#inner-box {
    background-color: @p2;
}

#outer-box {
  margin: 5px;
  padding:10px;
    background-color: @p2;
	margin-top: -22px;
}

#scroll {
}

#text {
  padding: 5px;
  color: @s1;
}

